<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crystal.games.gimmecollage.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GimmeCollageTheme" >

        // Google Play Services
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="crystal.games.gimmecollage.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="crystal.games.gimmecollage.app.LoginActivity"
            android:label="@string/app_name" >
            android:parentActivityName="crystal.games.gimmecollage.app.MainActivity">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="crystal.games.gimmecollage.app.MainActivity" />
        </activity>
        <activity
            android:name="crystal.games.gimmecollage.app.FriendPicker"
            android:label="@string/title_activity_friend_picker"
            android:parentActivityName="crystal.games.gimmecollage.app.MainActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="crystal.games.gimmecollage.app.MainActivity" />
        </activity>
        <activity
            android:name="crystal.games.gimmecollage.app.AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:parentActivityName="crystal.games.gimmecollage.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="crystal.games.gimmecollage.app.MainActivity" />
        </activity>
        <activity
            android:name="crystal.games.gimmecollage.app.GalleryPicker"
            android:label="@string/title_activity_gallery_picker"
            android:parentActivityName="crystal.games.gimmecollage.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="crystal.games.gimmecollage.app.MainActivity" />
        </activity>

        <!-- Activity required to show ad overlays. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>
